{% extends 'books/base.html' %}

{% block productt %}{% endblock %}
{% block product2 %}{% endblock %}
{% block content %}
  <h1>Подтверждения заказа</h1>
  <form method="post" action="{% url 'order_payment' order_id=order.id %}">
    {% csrf_token %}
    <label for="card_number">Номер карты:</label>
    <input type="text" id="card_number" name="card_number" required>
    <br>
    <label for="expiration_date">Дата окончания срока:</label>
    <input type="text" id="expiration_date" name="expiration_date" required>
    <br>
    <label for="security_code">Код безопасности:</label>
    <input type="text" id="security_code" name="security_code" required>
    <br>
    <button type="submit" class="btn btn-success">Оформить заказ:</button>
  </form>
{% endblock %}
