<style>
  .profile-container {
    display: flex;
    height: 100%;
    align-items: stretch;
  }

  .left-section {
    width: 30%;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #cfd8dc;
    padding: 20px;
  }

  .right-section {
    width: 70%;
    max-height: 100%;
    overflow: auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #cfd8dc;
  }

  .section-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  button {
    font-size: 16px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  button:hover {
    background-color: #0062cc;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    color: #333333;
  }

  .table thead {
    background-color: #f8f9fa;
    color: #000000;
  }

  .table th,
  .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }

  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table tbody tr:hover {
    background-color: #e6f2ff;
  }

  .profile-form label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }

  .profile-form input[type="text"],
  .profile-form input[type="email"] {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 20px;
  }

  .profile-form button[type="submit"] {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .profile-form button[type="submit"]:hover {
    background-color: #0062cc;
  }

  .profile-form .logout-form {
    margin-top: 20px;
  }
</style>

{% block content %}
<div class="profile-container">
    <div class="left-section">
        <h1>Личный кабинет</h1>
        <div class="section-buttons">
            <button onclick="showSection('order-history')">История заказов</button>
            <button onclick="showSection('account-settings')">Настройки профиля</button>
            <button onclick="showSection('sign-out')">Выход</button>
        </div>
    </div>
    <div class="right-section">
        <div id="order-history" class="profile-form">
            <h2>История заказов</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Номер</th>
                    <th>Покупатель</th>
                    <th>Статус</th>
                    <th>Дата заказа</th>
                    <th>Сумма</th>
                    <th>Детали</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.last_name }} {{ order.first_name }}</td>
                    <td>{{ order.payment_status }}</td>
                    <td>{{ order.created|date:"d.m.Y, P" }}</td>
                    <td>{{ order.get_total_cost }} ₸</td>
                    <td><a href="{% url 'order_detail' order_id=order.id %}"><button>Детали заказа</button></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="account-settings" class="profile-form">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Имя пользователя</label>
                    <input type="text" name="username" id="username" value="{{ user.username }}" class="form-control"
                           required>
                </div>
                <div class="form-group">
                    <label for="email">Электронная почта</label>
                    <input type="email" name="email" id="email" value="{{ user.email }}" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Редактировать</button>
            </form>
        </div>
        <div id="sign-out" class="profile-form">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Выйти</button>
            </form>
        </div>
    </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    showSection("order-history");
  });

  function showSection(sectionId) {
    const sections = document.getElementsByClassName("profile-form");
    for (let i = 0; i < sections.length; i++) {
      sections[i].style.display = "none";
    }
    document.getElementById(sectionId).style.display = "block";
  }
</script>
{% endblock %}